@model Sprievodca.Models.MainModels.Region

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kraj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Areas)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Areas != null)
            {
                @foreach (var area in Model.Areas)
                {
                    @Html.DisplayFor(model => area.Name)
                    <br/>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
