
@{
    ViewData["Title"] = "Admin";
}

<div>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Region" asp-action="">Kraj</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Area" asp-action="">Oblast</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="SubArea" asp-action="">PodOblast</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Sector" asp-action="">Sektor</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Route" asp-action="">Cesta</a>
        </li>
    </ul>
</div>