
@{
    ViewData["Title"] = "Admin";
}

<div>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Kraj" asp-action="">Kraj</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Oblast" asp-action="">Oblast</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="PodOblast" asp-action="">PodOblast</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Sektor" asp-action="">Sektor</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Cesta" asp-action="">Cesta</a>
        </li>
    </ul>
</div>